<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <!-- <title>基础数据</title> -->
    
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

     <!-- 全局CSS1 -->
    <include file="Public:globalCss1"/>

     <link href="__PUBLIC__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
     

     <!-- 全局CSS2 -->
    <include file="Public:globalCss2"/>
<link href="__PUBLIC__/css/plugins/bootstrap-select-1.13.9/bootstrap-select.min.css" rel="stylesheet">
    
</head>

<body>
     <div class="col-sm-10">
                    <form class="row" method="GET" action="{:U('WechatData/query_order')}">
                        <div class="col-md-2">
                           游戏类型： <select name="gameType" class="form-control mySelect" title="请选择">
                                        <option value="1" selected >小程序</option>
                                        <!-- <option value="2" <?php if($_GET['gameType']=='2'){ ?>selected<?php } ?>>其他渠道</option> -->
                                 </select>
                        </div>
                        <div class="col-md-2">
                           角色id： <input name="role_id" class="form-control mySelect" type="text" value="{:$_GET['role_id']}" > 
                        </div>
                        <div class="col-md-2">
                           订单号： <input name="order_no" class="form-control mySelect" type="text" value="{:$_GET['order_no']}" > 
                        </div>
                        <div class="col-md-2">
                           <br/> <button id="btn1" type="submit" class="btn btn-w-m btn-info" onclick='layer.load();$(this).addClass("disabled");' >查询</button>
                        </div>
                    </form>
                   
               <div class="hr-line-dashed"></div>   
    </div>           
               
            <div class="col-xs-12">
                            <table data-toggle="table" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th>所属游戏</th>
                                        <th>角色区服</th>
                                        <th>角色名字</th>
                                        <th>研发roleId</th>
                                        <th>订单号</th>
                                        <th>订单价格</th>
                                        <th>订单状态</th>
                                        <th>下单时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach($data as $k=>$v){ ?>
                                        <tr>
                                            <td>{:$v['gameName']} </td>
                                            <td>{:$v['ext']} </td>
                                            <td>{:$v['roleName']} </td>
                                            <td>{:$v['roleId']} </td>
                                            <td>{:$v['orderSn']} </td>
                                            <td><?php if($v['orderMoney']){ ?>{:$v['orderMoney']}元<?php } ?></td>
                                            <td><?php if($v['orderState']=='0'){ ?>未支付<?php }elseif($v['orderState']=='1'){ ?>已支付<?php }else if($v['orderState']=='2'){ ?>已发货<?php } ?> </td>
                                            <td>{:$v['orderTime']} </td>
                                            <td>
                                                <!-- <button onclick="mipay_confirms('{$v.orderSn}')" >米大师补单</button> -->
                                                <button onclick="kefu_confirms('{$v.orderSn}')" >客服支付补单</button>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                    <div class="fixed-table-pagination">
                    <div class="pull-left pagination-detail">
                        {:$page}    
                    </div>
                    </div>
        </div>
    <!-- 全局js -->
    
    <include file="Public:globalJs"/>
    <script src="__PUBLIC__/js/plugins/layer/layer.min.js"></script>
    <!-- Bootstrap table -->
    <script src="__PUBLIC__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__PUBLIC__/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__PUBLIC__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <!-- 日期选择器 -->
     <!-- <script src="__PUBLIC__/js/plugins/laydate/laydate.js"></script> -->
    <!-- 日期选择器结束 -->
    <!--解决ios打开iframe 宽大问题-->
    <script type="text/javascript">
        if( /iPhone/i.test(navigator.userAgent) ){
            $('body').width(parent.window.document.body.offsetWidth);
        }
        
    </script>
    <!--解决结束-->
    <!--下拉选择器插件-->
    <script src="__PUBLIC__/js/plugins/bootstrap-select-1.13.9/bootstrap-select.min.js"></script>
    <script type="text/javascript">
            $('.pagination li').click(function(){
                    if($(this).attr('class')!="active"||$(this).attr('class')!="disabled"){
                        layer.load();
                    }
            })
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
                var ismobile = true      
              }

                // <?php if($_GET['product']){ ?>
                //   $('select[name=product]').selectpicker('val', "{:$_GET['product']}");
                // <?php } ?> 

                $('.mySelect').selectpicker({
                     actionsBox:true,
                     selectAllText:'全选',
                     deselectAllText:'取消全选',
                     liveSearch:true,
                     mobile:ismobile
                });
             

    </script>   
    <script type="text/javascript">
    /**
    * 确认弹出层[无需跳转到指定页面的确认弹出层，一般用于确认之后执行之后的操作]
    * @param message 提示内容
    * @param url 点击确认后跳转的URL链接
    * @param title 信息框标题
    * @param time 自动关闭所需毫秒，默认为0 表示不关闭
    */
    // function mipay_confirms(ordersn) {
    //    layer.open({
    //        type: 0,
    //        icon: 3,
    //        title: '米大师补单',
    //        content: '确认补发【'+ ordersn +'】该订单吗?',
    //        btn: ['是','否'],
    //        yes: function(index, layero){
    //            $.post('{:U('h5Data/mipay')}',{orderNo:ordersn},function(data){
    //                 if(data.info=='1'){
    //                     layer.close(index);
    //                     msg('补单成功！');
    //                 }else if(data.info=='2'){
    //                     layer.close(index);
    //                     msg('session_key过期，请联系玩家登录游戏重新获取session_key，方可补单');
    //                 }else if(data.info=='3'){
    //                     layer.close(index);
    //                     msg('未知错误，请联系IT处理');
    //                 }else if(data.info=='4'){
    //                     layer.close(index);
    //                     msg('研发补单失败，请联系研发处理');
    //                 }
    //            })
    //        },
    //        cancel: function(index, layero){
    //            layer.close(index)
    //            return false;
    //        },
    //    });
    // }

    /**
    * 提示框[一些简单的提示信息]
    * @param message 提示内容
    * @param icon icon
    * @param time 自动关闭所需毫秒（如果不配置，默认是3秒）
    * @param func 自动关闭后执行特定的函数 string(函数名),bool(false)表示不执行
    */
    function msg(message, icon, func = true){
        var index = layer.msg(message, {
           icon: icon,
        }, function(){
           if(func != false){
                document.getElementById("btn1").click()
           }
        });
    }

    /**
    * 确认弹出层[无需跳转到指定页面的确认弹出层，一般用于确认之后执行之后的操作]
    * @param message 提示内容
    * @param url 点击确认后跳转的URL链接
    * @param title 信息框标题
    * @param time 自动关闭所需毫秒，默认为0 表示不关闭
    */
    function kefu_confirms(ordersn) {
       layer.open({
           type: 0,
           icon: 3,
           title: '客服支付补单',
           content: '确认补发【'+ ordersn +'】该订单吗?',
           btn: ['是','否'],
           yes: function(index, layero){
               $.post('{:U('WechatData/kefupay')}',{orderNo:ordersn},function(data){
                    if(data.info=='1'){
                        layer.close(index);
                        msg('补单成功！');
                    }else if(data.info=='4'){
                        layer.close(index);
                        msg('研发补单失败，请联系研发处理');
                    }
               })
           },
           cancel: function(index, layero){
               layer.close(index)
               return false;
           },
       });
    }

    </script>
</body>

</html>
