<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>白泽游戏后台 - 登录</title>
    
    <!-- 全局CSS1 -->
    <include file="Public:globalCss1"/>

     <!-- 全局CSS2 -->
    <include file="Public:globalCss2"/>

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <!-- <h1 class="logo-name">H+</h1> -->

            </div>
            <h3>白泽游戏管理后台</h3>

            <form class="m-t" role="form" action="{:U("Login/auth")}" method="POST">
                <div class="form-group">
                    <input name="user" type="text" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input name="pwd" type="password" class="form-control" placeholder="密码" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>


              <!--   <p class="text-muted text-center"> <a href="login.html#"><small>忘记密码了？</small></a> | <a href="register.html">注册一个新账号</a>
                </p> -->

            </form>
        </div>
    </div>

    <!-- 全局js -->
    <include file="Public:globalJs"/>

</body>

</html>
