<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>layer iframe 示例</title>
    <include file="Public:globalCss1"/>
    <style>
        body{padding:10px; font-size:14px; background:#fff; width:95%; margin:0 auto; font-size:14px; line-height:20px; overflow:hidden;}
        p{margin-bottom:10px;}
        input{border:1px solid #999; padding:5px 10px; margin:0 10px 10px 0;}
    </style>
</head>
<body>

<div>
    <strong><label>反馈内容：</label></strong>
</div>

<p class="layui-text">
    {:$data['content']}
</p>

</div>
<textarea id="name" class="layui-code" style="height: 180px;width: 642px; overflow: auto;"></textarea>
<div>
    <?php if($data['image_url']){ ?>
        <button class="layui-btn layui-btn-primary" onclick="getUrl('{:$data['id']}')">查看图片</button>
    <?php } ?>
    <button class="layui-btn layui-btn-primary" id="closeIframe">提交回复</button>
</div>

<script src="/Public/js/plugins/new_layer/layer.js"></script>
<script src="__PUBLIC__/js/plugins/laydate/laydate.js"></script>

<include file="Public:globalJs"/>
<script>
    //注意：parent 是 JS 自带的全局对象，可用于操作父页面
    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
    var queryVal=GetQueryValue('id');//Get Url参数
    //让层自适应iframe

    //提交客服回复
    $('#closeIframe').click(function(){
        var val = $('#name').val();
        if(val === ''){
            parent.layer.msg('请填写反馈答复！');
            return;
        }else{
            $.post('{:U('h5Data/getReply')}',{id:queryVal,content:val},function(data){
                console.log(data)
                if(data.info=='1'){
                    // layer.close(index);
                    msg('回复成功!');
                }else if(data.info=='2'){
                    console.log('222')
                    layer.close(index);
                    msg('回复失败!');
                }
            })
        }

        parent.layer.close(index);
    });

    function getUrl(e){
        $.getJSON('http://admin.baizegame.com/index.php/Home/h5Data/getImgJson?id=' + e, function(json){
            console.log(json)
            layer.photos({
                photos: json.data
                ,shift: 5 //0-6的选择，指定弹出图片动画类型，默认随机
            });
        });
    }

    /**
     * 提示框[一些简单的提示信息]
     * @param message 提示内容
     * @param icon icon
     * @param time 自动关闭所需毫秒（如果不配置，默认是3秒）
     * @param func 自动关闭后执行特定的函数 string(函数名),bool(false)表示不执行
     */
    function msg(message, icon, func = true){
        var index = layer.msg(message, {
            icon: icon,
        }, function(){
            if(func != false){
                window.location.reload();
            }
        });
    }

    /**
     * [通过参数名获取url中的参数值]
     * 示例URL:http://htmlJsTest/getrequest.html?uid=admin&rid=1&fid=2&name=小明
     * @param  {[string]} queryName [参数名]
     * @return {[string]}           [参数值]
     */
    function GetQueryValue(queryName) {
        var query = decodeURI(window.location.search.substring(1));
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == queryName) { return pair[1]; }
        }
        return null;
    }
</script>


</body>
</html>
